html {
	background: #fff7f6;
  }
h1 {
	color: DarkSlateGrey;
	font-weight: normal;
	font-size: 1.5em;
}
/*-- --*/
.container {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
}
.container.flex-start {
	justify-content: flex-start;
}
.container.flex-end {
	justify-content: flex-end;
}
.container.center {
	justify-content: center;
}
.container.space-between {
	justify-content: space-between;
}
.container.space-around {
	justify-content: space-around;
}
.item {
	font-size: 2rem;
	line-height: 1;
	text-align: center;
	padding: 3rem;
	background: mistyrose;
	border: 3px solid tomato;
	color: tomato;
	margin: 6px;
}